/Release/

*.bak

*.lst

*.lnp

*.obj

*.tmp

*.TMP

*.__i

*.crf

*.o

*.d

*.axf

*.dep

*.uvopt

*.htm

*.hsc

~*

*.map

*uvgui*

*.uvoptx

*.sct

*JLinkLog.txt

*.dbgconf

.vscode/tags

.vscode/

*.hex

*.lnk

*.su
*.list
*.elf

*.scvd
*.iex
*.ini

*.launch

.metadata/**



#excludes all compilation files
Debug/
#exclude any ide setings
.settings/**
**/.metadata/
**/.settings/
__pycache__/
**/__pycache__/